<%- include('../layout/head.ejs') %>
  <body>
    <form action="crearSolicitud" method="post"  class="tarjetaFormulario">
        <h1>Formulario Solicitud</h1>
      <label for="">Titulo Solicitud</label>
      <input type="text" name="titulo" />
      <label for="">Descripción solicitud</label>
      <textarea name="descripcion" id=""></textarea>
      <label for="">Duración</label>
      <div class="inputDuracion">
        <input type="number" min="0" name="duracion" />
        <select name="" id="">
          <option value="dd">Segundos</option>
          <option value="dd">Minuto/s</option>
        </select>
      </div>
      <label for="">Categoria</label>
      <select name="categoria_fk" id="categoria">
        <option value="" selected>Seleccionar</option>
        <option value=1>Categoria 1</option>
        <option value=2>Categoria 2</option>
        <option value=3>Categoria 3</option>
     </select>     
      <button>Registrar</button>
    </form>
  </body>
</html>
