<%- include('../layout/head.ejs') %>
  <body>
    <form action="" class="tarjetaFormulario">
        <h1>Formulario Solicitud</h1>
      <label for="">Titulo Solicitud</label>
      <input type="text" name="titulo" />
      <label for="">Descripción solicitud</label>
      <textarea name="" id=""></textarea>
      <label for="">Duración</label>
      <div class="inputDuracion">
        <input type="number" min="0" name="duracion" />
        <select name="" id="">
          <option value="dd">Segundos</option>
          <option value="dd">Minuto/s</option>
        </select>
      </div>
      <label for="">Categoria</label>
      <select name="" id="">
        <option value="" selected >Seleccionar</option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
      </select>
      <button>Registrar</button>
    </form>
  </body>
</html>
