
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!-- <title><%= pageTitle %></title> -->
</head>
<body>
  <!-- Menú lateral -->
  <aside>
    <!-- Contenido del menú lateral -->
  </aside>

  <!-- Área de contenido principal -->
  <main>
    <!-- Contenido dinámico de las vistas -->
    <%= content %>
  </main>

  <!-- Scripts -->
  <script src="js/script.js"></script>
</body>
</html>
