<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
      }
      input {
        outline: none;
        border: 1px solid #bbb;
        border-radius: 2px;
        padding: 2px;
        font-style: 12px;
        width: 100%;
        margin: 0.5rem 0;
      }
      .tarjetaFormulario {
        background-color: #ffffff;
        border: 1px solid #ccc;
        width: 25rem;
        border-radius: 5px;
        padding: 1.2rem;
      }
    </style>
  </head>
  <body>
    <form action="listasReproduccion" method="post" class="tarjetaFormulario">
      <label for="">Nombre de la lista</label>
      <input type="text" name="nombre" />
      <label for="">Usuario</label>
      <select name="usuario" id="">
        <% usuarios.forEach(usuario => { %>
          <option value="<%= usuario.id %>"><%= usuario.nombre %></option>
        <% }) %>
      </select>
      <br />
      <button>Registrar</button>
    </form>
  </body>
</html>
