<%- include('../layout/head.ejs') %>
<h2>Hello world</h2>
<%= listaReproduccion.nombre %>
<% archivos.forEach(objeto => { %>
  <h3><%= objeto.titulo %></h3>
  <audio controls autoplay src="http://localhost:3000/archivo/<%= objeto.archivo %>" type="audio/mp3">
  </audio>
  <% }) %>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const audioElements = document.querySelectorAll('audio');
  
      // Agrega un evento 'ended' a cada elemento de audio para reproducir el siguiente
      audioElements.forEach((audio, index) => {
        console.log(index);
        audio.addEventListener('ended', () => {
          const nextAudioIndex = (index + 1) % audioElements.length;
          audioElements[nextAudioIndex].play();
        });
      });
    });
  </script>

