<%- include('./layout/head.ejs') %>
  

<body>
    <main class="containerLogin">
      <section class="login">
        <article class="loginMensaje"></article>
        <article class="formularioLogin">
          <form  id="formularioLogin" method="post" action="/login">
            <div class="headerFormulario">
              <h2>Iniciar Sesión</h2>
              <p>El lugar perfecto para ti</p>
            </div>
            <label for="">Correo</label>
            <input
              class="inputLogin"
              type="text"
              name="correo"
              placeholder="ejemplo@dominio.com"
              id="correo"
              autocomplete="off"
            />
            <small id="errorCorreo" class="error"></small>
            <label for="">Contraseña</label>
            <input type="password" id="clave" placeholder="**********" name="clave" />
            <small id="errorClave" class="error"></small>
            <% if (typeof mensaje !== 'undefined') { %>
              <small class="error">Correo o contraseña incorrecto, intenta de nuevo</small>
              <% } %>
            
            <div class="recordarSesion">

              <div class="remember">
                <input class="inputCheck" type="checkbox" name="" id="" />
                <span>Recuerdame</span>
              </div>

              <div class="forgetPassword">
                <a href="#">Olvide mi contraseña</a>
              </div>


            </div>
            <button class="botonLogin" id="loguear">Entrar Ahora</button>
          </form>
        </article>
      </section>
    </main>
    <script>
      let formulariologin = document.getElementById("formularioLogin");
      let botonLogin = document.getElementById("loguear");
      let correoInput = document.getElementById("correo");
      let claveInput = document.getElementById("clave");
      const EXPRESIONREGULARCORREO = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      const EXPRESIONREGULARCARACTERES = /^[a-zA-Z0-9_-]+$/;
      const validarCorreo = (correo) => {
        return EXPRESIONREGULARCORREO.test(correo)
      }
      const validarClave = (clave) => {
        if (clave.length == 0) {
          return false
        }
        if (!EXPRESIONREGULARCARACTERES.test(clave)) {
          return false
        }
        return true
      }

      correoInput.addEventListener("input", (e)=>{
          document.getElementById("errorCorreo").innerHTML = !validarCorreo(e.target.value)? "El correo no es valido":""
      });
      claveInput.addEventListener("input", (e)=>{
          document.getElementById("errorClave").innerHTML = !validarClave(e.target.value)?"El campo esta vacío o estas usando carácteres especiales":"";
      });
      botonLogin.addEventListener("click", (e)=>{
        e.preventDefault()
        console.log(validarCorreo(correoInput.value), validarClave(claveInput.value));
        if (validarCorreo(correoInput.value) && validarClave(claveInput.value)) {
          formulariologin.submit();
          return ""
        }
        console.log("Ups hay algo mal");
      })
    </script>
  </body>
</html>


