<%- include('../layout/head.ejs') %>
  </head>
  <body>
    <form action="" class="tarjetaFormulario">
      <label for="">Titulo Categoria</label>
      <input type="text" name="titulo" />
      <button>Registrar</button>
    </form>
  </body>
</html>
