   <!-- Filtro por nombre -->
   <label for="filterName">Filtrar por Nombre:</label>
   <input type="text" id="filterName" oninput="filterTable()" />
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        <% categorias.forEach(item => { %>
            <tr>
                <td><%= item.id %></td>
                <td><%= item.nombre %></td>
            </tr>
        <% }); %>
    </tbody>
</table>

<script>
    function filterTable() {
        const input = document.getElementById('filterName');
        const filter = input.value.toUpperCase();
        const table = document.querySelector('table');
        const rows = table.querySelectorAll('tbody tr');

        rows.forEach(row => {
            const name = row.getElementsByTagName('td')[1];
            if (name.innerHTML.toUpperCase().indexOf(filter) > -1) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    }
</script>
</body>
</html>